## Module Type

This is a primitive module, which is used to wrap a single resource (or a small set of interdependent resources) that is not intended to be used as a standalone module, but is instead intended to be used by a collection module or reference module.

{% include "template_" + terraform_module_type + "/_provider/" + terraform_provider + "/variables.tf.jinja" ignore missing -%}
