{{ license_header }}

{% include "template_" + terraform_module_type + "/variables.tf.jinja" ignore missing -%}

variable "tags" {
  description = "Map of tags to apply to this resource."
  type        = map(string)
  default     = {}
}
