{{ license_header }}

terraform {
  required_version = "~> 1.0"

  required_providers {
    {{ terraform_provider_alias }} = {
      source  = "{{ terraform_provider }}"
      version = "~> {{ terraform_provider_version[terraform_provider] }}"
    }
  }
}
