variable "storage_account_name" {
  description = "Name of the Azure Storage Account to create."
  type        = string
  nullable    = false
}

variable "resource_group_name" {
  description = "Name of the Azure Resource Group for the storage account."
  type        = string
  nullable    = false
}

variable "location" {
  description = "Location for the storage account."
  type        = string
  nullable    = false
  default     = "{{ terraform_provider_default_region[terraform_provider] }}"
}
