# Terraform-specific rules
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
crash.log
crash.*.log
!examples/*.tfvars
*.tfvars.json
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
provider.tf
.terraformrc
terraform.rc
azure_env.sh
.releaserc.json
**/.test-data/*
